* {
    margin: 0;
}
header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./img.png/bg.png);
    color: white
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 5% ;
}
nav h2 {
    font-size: 55px;
    color: white;
    font-weight: bolder;
} 
nav a{
    color: white;
    text-decoration: none;
}
.pars {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}
header h1 {
    font-size:100px;
    font-weight: bolder;
    text-align: center;
    padding: 10% 0px;

}