* {
    margin: 0;
}
header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./img.png/bg.png);
    color: white;
    margin-bottom: 250px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 5% ;
}
nav h2 {
    font-size: 55px;
    color: white;
    font-weight: bolder;
} 
nav a{
    color: white;
    text-decoration: none;
}
.pars {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}
header h1 {
    font-size:100px;
    font-weight: bolder;
    text-align: center;
    padding: 10% 0px 12%;

}
.sector-1 {
    display: flex;
    align-items: center;
    gap: 50px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    width: 360px;
    height: 80px;
    padding: 20px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 25%;
}
.sector-1-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 120px;
    border-radius: 40px;
    padding: 10px 15px;
    background-color: rgba(23, 123, 165, 1);
    font-size: 30px;
    font-weight: 600;

}
.sector-1-2 {
     display: flex;
    align-items: center;
    gap: 10px;
    width: 120px;
    font-size: 30px;
    color: rgba(41, 45, 50, 1);
    font-weight: 600;

}
.sector-2 {
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom-left-radius:50px ;
    border-bottom-right-radius:50px ;
    border-top-right-radius:50px;
    width: 860px;
    height:200px;
    padding:10px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 25%; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.sector-2-1 {
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width:420px;
    height: 120px;
    padding: 20px;
    border-radius: 40px;
}
.par-1{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    text-align: center;
}
.sector-2-1 h6 {
    font-size: 25px;
    color: rgba(41, 45, 50, 1);
    text-align: center;
}