* {
    margin: 0;
}

body {
    background-color: rgba(246, 246, 246, 0.9765);
}

header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./img.png/bg.png);
    color: white;
    margin-bottom: 250px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 5%;
}

nav h2 {
    font-size: 55px;
    color: white;
    font-weight: bolder;
}

nav a {
    color: white;
    text-decoration: none;
}

.pars {
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 600;
}

header h1 {
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    padding: 10% 0px 12%;

}

.sector-1 {
    display: flex;
    align-items: center;
    gap: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 360px;
    height: 80px;
    padding: 20px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 25%;
}

.sector-1-1 {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 120px;
    border-radius: 40px;
    padding: 10px 15px;
    background-color: rgba(23, 123, 165, 1);
    font-size: 30px;
    font-weight: 600;

}

.sector-1-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 120px;
    font-size: 30px;
    color: rgba(41, 45, 50, 1);
    font-weight: 600;

}

.sector-2 {
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 860px;
    height: 200px;
    padding: 10px 25px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 25%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.sector-2-1 {
    display: flex;
    align-items: center;
    gap: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 420px;
    height: 120px;
    padding: 20px;
    border-radius: 40px;
}

.par-1 {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
    text-align: center;
}

.sector-2-1 h6 {
    font-size: 25px;
    color: rgba(41, 45, 50, 1);
    text-align: center;
}

.section-2 h2 {
    font-size: 55px;
    text-align: center;
    color: rgba(41, 45, 50, 1);
}

.sector-3 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 10%;
}

.part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    height: 450px;
    padding: 50px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.part-1 h5 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
    color: rgba(41, 45, 50, 1);
}

.article-1 {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    padding: 30px 0px;
    color: rgba(0, 0, 0, 0.5);
}

.par-2 {
    background-color: rgba(214, 237, 235, 1);
    color: rgba(45, 137, 133, 1);
    padding: 0px 15px;
    border-radius: 40px;
}

.article-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.article-2 h4 {
    font-size: 30px;
    font-weight: 700;
}

.article-2 span {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.article-2 p {
    background-color: rgba(23, 123, 165, 1);
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 20px;
    color: white;
}
.par-3 {
    background-color: rgba(252, 221, 236, 1);
    color: rgba(241, 120, 182, 1);
}
.section-3 {
    display: flex;
    align-items: center;
    padding: 100px 5%;
    gap: 50px;
    background-color: rgba(244, 242, 238, 1);
}
.sector-4 {
    width: 45%;
}
.sector-5 {
    width: 40%;
}
.sector-5 h3 {
    font-size: 55px;
    font-weight: bolder;
    color: rgba(23, 123, 165, 1);
    padding-bottom: 30px;
}
.sector-5 p {
    font-size: 30px;
    color: rgba(41, 45, 50, 1);
    padding-bottom: 30px;
}
.but-1 {
    padding:20px;
    background-color:rgba(23, 123, 165, 1) ;
    border-radius: 40px;
    color: white;
    border: none;
    font-size: 20px;
}
.section-4 {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin: 100px auto ;
}
.sector-6 {
    width: 450px;
}
.sector-6 h2 {
    font-size: 55px;
    padding-bottom: 30px;
}
.sector-6 p {
    font-size: 30px;
    color: rgba(41, 45, 50, 1);
}
.article-3 {
    margin: 20px 60%;
    display: flex;
    gap: 10px;
}
.sector-7 {
    width: 250px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    background-image: url(./img.png/8bf0aeaadeff652bf36e29a19b38df05d99404e4.png);
}
.sector-7 p {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 320px;
    color: white;
}
.sector-8 {
    display: flex;
    gap: 20px;
}
.sec7 {
    background-image: url(./img.png/804d98472b7a6cca3d25738272ea77aa7c556009.png);
}
.sec8 {
    background-image: url(./img.png/fc819fa3929b0b1868db8a789792793264ec7932.png);
}
.section-5 {
    margin: 150px 5% ;
}
.section-5 h2 {
    font-size: 60px;
    text-align: center;
    color: rgba(41, 45, 50, 1);
    padding-bottom: 50px;
}
.sector-9 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.part-5 {
    width: 40%;
}
.part-5 h3 {
    font-size: 45px;
    padding-bottom: 30px;
    font-weight: bolder;
}
.part-5 p {
    font-size: 30px;
    padding-bottom: 30px;
    color: rgba(41, 45, 50, 1);
}
.article-5 {
    display: flex;
    align-items: baseline;
    font-size: 25px;
}
.section-6 {
    margin: 100px 5%;
}
.section-6 h2 {
    font-size: 60px;
    text-align: center;
    color: rgba(41, 45, 50, 1);
    padding-bottom: 50px;
}

.sector-10 {
    display: flex;
    justify-content: center;
    width: 1200px;
    overflow: auto;
    margin: auto;
    gap: 30px;
}
.part-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 650px;
    min-height: 280px;
    background-color:rgba(255, 255, 255, 1) ;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}
.part-6 h6 {
    font-size: 25px;
    padding: 30px 0px;
}
.part-6 p {
    font-size: 30px;
    text-align: center;
    width: 500px;
}
.img-1 {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}